.banner {
    height: 100vh; /* % viewport height */
    display: flex;
    justify-content: space-around; /* optimize space around elements */
    align-items: center;
    background: black;
}

.banner-content {
    color: white;
    text-align: center;
}

.banner-content h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.banner-content p {
    font-size: 20px;
    opacity: 0.8;
    margin-bottom: 20px;
}